body{
    background-color:whitesmoke;
}
.heading{
    text-align:left;
    font-weight:bold;
    padding: 20px;
}
.content{
    padding: 20px;
}
.image{
    text-align:center;
    margin:20px 0;
}
.imgcontainer{
    text-align: center;
    margin: 20px 0;
}
.imgcontainer img{
    width: 50%;
    max-width: 500px;
    height: auto;
}